# Ignore version control and project settings
.git/
.svn/
.vscode/
.idea/

# Ignore compiled Python files and Jupyter notebooks
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb

# Ignore build outputs and documentation
build/
dist/
*.egg-info/
tests/
docs/

# Ignore miscellaneous non-essential files
.DS_Store
README.md
LICENSE
.env
*.log
*.pdf
